In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
df = pd.read_csv('~/datahacks/datasets/dino.csv')

In [3]:
df = df.drop(['named_by', 'link'], axis = 1)

In [4]:
def extract_duration(row):
    """Takes period text and returns the time span"""
    pattern = r'(\d+)-(\d+)'
    match = re.search(pattern, row)
    if match:
        start_year = int(match.group(1))
        end_year = int(match.group(2))
        return np.abs(end_year - start_year)
    else:
        return

In [5]:
# Create column extract time period
pattern = r'^(\w+\s\w+)'
df['time_period'] = df['period'].str.extract(pattern)

# Create column extract time span in million of years
df['time_span'] = df['period'].apply(extract_duration)

# Drop NaN values
jurassic_cleaned = df.dropna(subset=['time_span'])

In [6]:
countries_continents = { 'Argentina': 'South America', 'Australia': 'Australia', 'Brazil': 'South America',
                        'Canada': 'North America', 'China': 'Asia', 'Egypt': 'Africa', 'France': 'Europe',
                        'Germany': 'Europe', 'India': 'Asia', 'Japan': 'Asia', 'Kazakhstan': 'Asia', 
                        'Lesotho': 'Africa', 'Madagascar': 'Africa', 'Malawi': 'Africa', 'Mongolia': 'Asia',
                        'Morocco': 'Africa', 'Niger': 'Africa', 'North Africa': 'Africa', 'Romania': 'Europe', 
                        'Russia': 'Asia/Europe', 'South Africa': 'Africa', 'Spain': 'Europe', 'Tanzania': 'Africa', 
                        'Tunisia': 'Africa', 'USA': 'North America', 'United Kingdom': 'Europe',
                        'Uruguay': 'South America', 'Uzbekistan': 'Asia' }

In [7]:
jurassic_cleaned = jurassic_cleaned.drop(['period'], axis = 1)
jurassic_cleaned['continent'] = jurassic_cleaned['lived_in'].map(countries_continents)
jurassic_cleaned

,name,diet,lived_in,type,length,taxonomy,species,time_period,time_span,continent
0,aardonyx,herbivorous,South Africa,sauropod,8.0m,Dinosauria Saurischia Sauropodomorpha Prosauro...,celestae,Early Jurassic,10.0,Africa
1,abelisaurus,carnivorous,Argentina,large theropod,9.0m,Dinosauria Saurischia Theropoda Neotheropoda C...,comahuensis,Late Cretaceous,4.0,South America
2,achelousaurus,herbivorous,USA,ceratopsian,6.0m,Dinosauria Ornithischia Genasauria Cerapoda Ma...,horneri,Late Cretaceous,13.0,North America
3,achillobator,carnivorous,Mongolia,large theropod,5.0m,Dinosauria Saurischia Theropoda Neotheropoda T...,giganteus,Late Cretaceous,15.0,Asia
4,acrocanthosaurus,carnivorous,USA,large theropod,12.0m,Dinosauria Saurischia Theropoda Neotheropoda T...,atokensis,Early Cretaceous,10.0,North America
...,...,...,...,...,...,...,...,...,...,...
303,yinlong,herbivorous,China,ceratopsian,1.2m,Dinosauria Ornithischia Genasauria Cerapoda Ma...,downsi,Mid Jurassic,5.0,Asia
304,yuanmousaurus,herbivorous,China,sauropod,17.0m,Dinosauria Saurischia Sauropodomorpha Sauropod...,jiangyiensis,Mid Jurassic,21.0,Asia
305,yunnanosaurus,omnivorous,China,sauropod,7.0m,Dinosauria Saurischia Sauropodomorpha Prosauro...,huangi,Early Jurassic,15.0,Asia
307,zephyrosaurus,herbivorous,USA,euornithopod,1.8m,Dinosauria Ornithischia Genasauria Cerapoda Or...,schaffi,Early Cretaceous,10.0,North America
308,zuniceratops,herbivorous,USA,ceratopsian,NaN,Dinosauria Ornithischia Genasauria Cerapoda Ma...,christopheri,Late Cretaceous,5.0,North America

In [8]:
late_t_df = jurassic_cleaned[jurassic_cleaned['time_period'] == 'Late Triassic']
late_t_df.shape

(13, 10)

In [9]:
early_j_df = jurassic_cleaned[jurassic_cleaned['time_period'] == 'Early Jurassic']
early_j_df.shape

(15, 10)

In [10]:
mid_j_df = jurassic_cleaned[jurassic_cleaned['time_period'] == 'Mid Jurassic']
mid_j_df.shape

(23, 10)

In [11]:
late_j_df = jurassic_cleaned[jurassic_cleaned['time_period'] == 'Late Jurassic']
late_j_df.shape

(42, 10)

In [12]:
early_c_df = jurassic_cleaned[jurassic_cleaned['time_period'] == 'Early Cretaceous']
early_c_df.shape

(58, 10)

In [13]:
late_c_df = jurassic_cleaned[jurassic_cleaned['time_period'] == 'Late Cretaceous']
late_c_df.shape

(129, 10)

In [14]:
def separate_dataframes_by_time_period_and_continent(dataframe):
    """
    Separate a dataframe by time period and continent.

    Parameters:
    - dataframe: The input DataFrame containing the data.

    Returns:
    - A dictionary containing DataFrames separated by unique combinations of time period and continent.
    """

    separated_dataframes = {}

    time_periods = dataframe['time_period'].unique()

    continents = dataframe['continent'].unique()

    for time_period in time_periods:

        for continent in continents:

            filtered_df = dataframe[(dataframe['time_period'] == time_period) & (dataframe['continent'] == continent)]

            df_name = f"{time_period}, {continent}"
            

            separated_dataframes[df_name] = filtered_df

    return separated_dataframes


separated_dataframes = separate_dataframes_by_time_period_and_continent(jurassic_cleaned)

In [15]:
separated_dataframes

{'Early Jurassic, Africa':               name         diet      lived_in      type length  \
 0         aardonyx  herbivorous  South Africa  sauropod   8.0m
 155  lesothosaurus  herbivorous       Lesotho      1.0m    NaN

                                               taxonomy       species  \
 0    Dinosauria Saurischia Sauropodomorpha Prosauro...      celestae
 155                            Dinosauria Ornithischia  diagnosticus

         time_period  time_span continent
 0    Early Jurassic       10.0    Africa
 155  Early Jurassic       13.0    Africa  ,
 'Early Jurassic, South America': Empty DataFrame
 Columns: [name, diet, lived_in, type, length, taxonomy, species, time_period, time_span, continent]
 Index: [],
 'Early Jurassic, North America':                name         diet lived_in               type length  \
 16       ammosaurus  herbivorous      USA           sauropod   5.0m
 248  scutellosaurus  herbivorous      USA  armoured dinosaur   1.2m

                                               taxonomy  species  \
 16   Dinosauria Saurischia Sauropodomorpha Prosauro...    major
 248     Dinosauria Ornithischia Genasauria Thyreophora  lawleri

         time_period  time_span      continent
 16   Early Jurassic       15.0  North America
 248  Early Jurassic        3.0  North America  ,
 'Early Jurassic, Asia':                 name         diet lived_in      type length  \
 40      barapasaurus  herbivorous    India  sauropod  14.0m
 143  jingshanosaurus  herbivorous    China  sauropod   5.0m
 149       kotasaurus  herbivorous    India  sauropod   9.0m
 161    lufengosaurus  herbivorous    China  sauropod   6.0m
 301     yimenosaurus  herbivorous    China  sauropod   9.0m
 305    yunnanosaurus   omnivorous    China  sauropod   7.0m

                                               taxonomy          species  \
 40   Dinosauria Saurischia Sauropodomorpha Sauropod...          tagorei
 143  Dinosauria Saurischia Sauropodomorpha Prosauro...       xinwaensis
 149    Dinosauria Saurischia Sauropodomorpha Sauropoda  yamanpalliensis
 161  Dinosauria Saurischia Sauropodomorpha Prosauro...           huenei
 301  Dinosauria Saurischia Sauropodomorpha Prosauro...           youngi
 305  Dinosauria Saurischia Sauropodomorpha Prosauro...           huangi

         time_period  time_span continent
 40   Early Jurassic       15.0      Asia
 143  Early Jurassic       15.0      Asia
 149  Early Jurassic       25.0      Asia
 161  Early Jurassic        5.0      Asia
 301  Early Jurassic        5.0      Asia
 305  Early Jurassic       15.0      Asia  ,
 'Early Jurassic, Europe':                name         diet        lived_in               type length  \
 160  lophostropheus  carnivorous          France     large theropod   6.2m
 242     sarcosaurus  carnivorous  United Kingdom     small theropod   3.0m
 247   scelidosaurus  herbivorous  United Kingdom  armoured dinosaur   4.0m

                                               taxonomy     species  \
 160                              Dinosauria Saurischia  airelensis
 242  Dinosauria Saurischia Theropoda Neotheropoda C...       woodi
 247  Dinosauria Ornithischia Genasauria Thyreophora...  harrisonii

         time_period  time_span continent
 160  Early Jurassic        7.0    Europe
 242  Early Jurassic        7.0    Europe
 247  Early Jurassic       14.0    Europe  ,
 'Early Jurassic, Australia': Empty DataFrame
 Columns: [name, diet, lived_in, type, length, taxonomy, species, time_period, time_span, continent]
 Index: [],
 'Early Jurassic, nan': Empty DataFrame
 Columns: [name, diet, lived_in, type, length, taxonomy, species, time_period, time_span, continent]
 Index: [],
 'Early Jurassic, Asia/Europe': Empty DataFrame
 Columns: [name, diet, lived_in, type, length, taxonomy, species, time_period, time_span, continent]
 Index: [],
 'Late Cretaceous, Africa':                     name         diet      lived_in            type length  \
 5          aegyptosaurus  herbivorous         Egypt        sauropod  15.0m
 53   carcharodontosaurus  carnivorous  North Africa  large theropod  15.0m
 82          deltadromeus  carnivorous       Morocco  large theropod   8.1m
 166        majungasaurus  carnivorous    Madagascar  large theropod   6.0m
 171        masiakasaurus  carnivorous    Madagascar  small theropod   2.0m
 210          paralititan  herbivorous         Egypt        sauropod  28.0m
 264          spinosaurus  carnivorous       Morocco  large theropod  18.0m

                                               taxonomy       species  \
 5    Dinosauria Saurischia Sauropodomorpha Sauropod...  baharijensis
 53   Dinosauria Saurischia Theropoda Neotheropoda T...     saharicus
 82   Dinosauria Saurischia Theropoda Neotheropoda T...        agilis
 166  Dinosauria Saurischia Theropoda Neotheropoda C...        atopus
 171  Dinosauria Saurischia Theropoda Neotheropoda C...     knopfleri
 210  Dinosauria Saurischia Sauropodomorpha Sauropod...      stromeri
 264  Dinosauria Saurischia Theropoda Neotheropoda T...   aegyptiacus

          time_period  time_span continent
 5    Late Cretaceous        5.0    Africa
 53   Late Cretaceous        4.0    Africa
 82   Late Cretaceous        5.0    Africa
 166  Late Cretaceous       13.0    Africa
 171  Late Cretaceous       13.0    Africa
 210  Late Cretaceous        5.0    Africa
 264  Late Cretaceous       25.0    Africa  ,
 'Late Cretaceous, South America':                name         diet   lived_in            type length  \
 1       abelisaurus  carnivorous  Argentina  large theropod   9.0m
 14    alvarezsaurus  carnivorous  Argentina  small theropod   2.0m
 23   antarctosaurus  herbivorous    Uruguay        sauropod  18.0m
 33       aucasaurus  carnivorous  Argentina  large theropod   5.0m
 50     buitreraptor  carnivorous  Argentina  small theropod   1.3m
 112  gasparinisaura  herbivorous  Argentina    euornithopod   0.8m
 169      mapusaurus  carnivorous  Argentina  large theropod  13.0m
 189  neuquenosaurus  herbivorous  Argentina        sauropod  10.0m
 192       noasaurus  carnivorous  Argentina  small theropod   1.0m
 240     saltasaurus  herbivorous  Argentina        sauropod  12.0m
 249   secernosaurus  herbivorous  Argentina    euornithopod   3.0m
 293       unenlagia  carnivorous  Argentina  small theropod   2.4m

                                               taxonomy         species  \
 1    Dinosauria Saurischia Theropoda Neotheropoda C...     comahuensis
 14   Dinosauria Saurischia Theropoda Neotheropoda T...          calvoi
 23   Dinosauria Saurischia Sauropodomorpha Sauropod...   wichmannianus
 33   Dinosauria Saurischia Theropoda Neotheropoda C...        garridoi
 50   Dinosauria Saurischia Theropoda Neotheropoda T...    gonzalezorum
 112  Dinosauria Ornithischia Genasauria Cerapoda Or...  cincosaltensis
 169  Dinosauria Saurischia Theropoda Neotheropoda T...          roseae
 189  Dinosauria Saurischia Sauropodomorpha Sauropod...       australis
 192  Dinosauria Saurischia Theropoda Neotheropoda C...           leali
 240  Dinosauria Saurischia Sauropodomorpha Sauropod...       loricatus
 249  Dinosauria Ornithischia Genasauria Cerapoda Or...        koerneri
 293  Dinosauria Saurischia Theropoda Neotheropoda T...     comahuensis

          time_period  time_span      continent
 1    Late Cretaceous        4.0  South America
 14   Late Cretaceous        4.0  South America
 23   Late Cretaceous       19.0  South America
 33   Late Cretaceous       13.0  South America
 50   Late Cretaceous        9.0  South America
 112  Late Cretaceous       15.0  South America
 169  Late Cretaceous        5.0  South America
 189  Late Cretaceous        6.0  South America
 192  Late Cretaceous       19.0  South America
 240  Late Cretaceous        5.0  South America
 249  Late Cretaceous        6.0  South America
 293  Late Cretaceous        8.0  South America  ,
 'Late Cretaceous, North America':                    name         diet lived_in               type length  \
 2         achelousaurus  herbivorous      USA        ceratopsian   6.0m
 8           alamosaurus  herbivorous      USA           sauropod  21.0m
 9       albertaceratops  herbivorous      USA        ceratopsian   7.0m
 10        albertosaurus  carnivorous   Canada     large theropod   9.0m
 19        anchiceratops  herbivorous   Canada        ceratopsian   6.0m
 21         ankylosaurus  herbivorous      USA  armoured dinosaur   7.0m
 31      arrhinoceratops  herbivorous   Canada        ceratopsian   6.0m
 35          avaceratops  herbivorous      USA        ceratopsian   2.3m
 39          bambiraptor  carnivorous      USA     small theropod   1.0m
 48    brachylophosaurus  herbivorous      USA       euornithopod   7.0m
 57         centrosaurus  herbivorous   Canada        ceratopsian   6.0m
 62         chasmosaurus  herbivorous   Canada        ceratopsian   5.0m
 75        corythosaurus  herbivorous      USA       euornithopod  10.0m
 78       daspletosaurus  carnivorous   Canada     large theropod   9.0m
 86        dromaeosaurus  carnivorous      USA     small theropod   1.8m
 87       dromiceiomimus   omnivorous   Canada     large theropod   3.5m
 89         dryptosaurus  carnivorous      USA     large theropod   6.4m
 91           edmontonia  herbivorous   Canada  armoured dinosaur   4.0m
 92        edmontosaurus  herbivorous   Canada       euornithopod  13.0m
 96             eolambia  herbivorous      USA       euornithopod    NaN
 103      euoplocephalus  herbivorous      USA  armoured dinosaur   7.0m
 118         gorgosaurus  carnivorous      USA     large theropod   8.6m
 121         gryposaurus  herbivorous      USA       euornithopod  10.0m
 124         hadrosaurus  herbivorous      USA       euornithopod   9.0m
 150         kritosaurus  herbivorous      USA       euornithopod   8.0m
 151        lambeosaurus  herbivorous   Canada       euornithopod   9.0m
 154       leptoceratops  herbivorous      USA        ceratopsian   3.0m
 159        lophorhothon  herbivorous      USA       euornithopod   4.5m
 165           maiasaura  herbivorous      USA       euornithopod   9.0m
 186        nedoceratops  herbivorous      USA        ceratopsian   7.0m
 195        nothronychus   omnivorous      USA     large theropod   5.3m
 200        ornithomimus   omnivorous      USA     large theropod   4.0m
 202       oryctodromeus  herbivorous      USA       euornithopod   2.1m
 206  pachycephalosaurus  herbivorous      USA       euornithopod   8.0m
 207    pachyrhinosaurus  herbivorous   Canada        ceratopsian   6.0m
 208       panoplosaurus  herbivorous      USA  armoured dinosaur   7.0m
 211     parasaurolophus  herbivorous      USA       euornithopod  11.0m
 212        parksosaurus  herbivorous   Canada       euornithopod   3.0m
 216       pentaceratops  herbivorous      USA        ceratopsian   6.8m
 227      prosaurolophus  herbivorous      USA       euornithopod   7.6m
 230         protohadros  herbivorous      USA       euornithopod   6.0m
 266          stegoceras  herbivorous      USA       euornithopod   2.4m
 269       struthiomimus   omnivorous   Canada     small theropod   4.0m
 271       styracosaurus  herbivorous      USA        ceratopsian   5.5m
 282      thescelosaurus  herbivorous      USA       euornithopod   3.5m
 283          torosaurus  herbivorous      USA        ceratopsian   7.5m
 285         triceratops  herbivorous      USA        ceratopsian   9.0m
 286             troodon  carnivorous      USA     small theropod   2.0m
 291       tyrannosaurus  carnivorous      USA     large theropod  12.0m
 308        zuniceratops  herbivorous      USA        ceratopsian    NaN

                                               taxonomy       species  \
 2    Dinosauria Ornithischia Genasauria Cerapoda Ma...       horneri
 8    Dinosauria Saurischia Sauropodomorpha Sauropod...  sanjuanensis
 9                              Dinosauria Ornithischia        nesmoi
 10   Dinosauria Saurischia Theropoda Neotheropoda T...      libratus
 19   Dinosauria Ornithischia Genasauria Cerapoda Ma...       ornatus
 21   Dinosauria Ornithischia Genasauria Thyreophora...  magniventris
 31   Dinosauria Ornithischia Genasauria Cerapoda Ma...     brachyops
 35   Dinosauria Ornithischia Genasauria Cerapoda Ma...      lammersi
 39   Dinosauria Saurischia Theropoda Neotheropoda T...  feinbergorum
 48   Dinosauria Ornithischia Genasauria Cerapoda Or...    canadensis
 57   Dinosauria Ornithischia Genasauria Cerapoda Ma...           NaN
 62   Dinosauria Ornithischia Genasauria Cerapoda Ma...           NaN
 75   Dinosauria Ornithischia Genasauria Cerapoda Or...     casuarius
 78   Dinosauria Saurischia Theropoda Neotheropoda T...       torosus
 86   Dinosauria Saurischia Theropoda Neotheropoda T...   albertensis
 87   Dinosauria Saurischia Theropoda Neotheropoda T...  brevitertius
 89   Dinosauria Saurischia Theropoda Neotheropoda T...   aquilunguis
 91   Dinosauria Ornithischia Genasauria Thyreophora...     longiceps
 92   Dinosauria Ornithischia Genasauria Cerapoda Or...       regalis
 96   Dinosauria Ornithischia Genasauria Cerapoda Or...   caroljonesa
 103  Dinosauria Ornithischia Genasauria Thyreophora...           NaN
 118  Dinosauria Saurischia Theropoda Neotheropoda T...      libratus
 121  Dinosauria Ornithischia Genasauria Cerapoda Or...     notabilis
 124  Dinosauria Ornithischia Genasauria Cerapoda Or...       foulkii
 150  Dinosauria Ornithischia Genasauria Cerapoda Or...    navajovius
 151  Dinosauria Ornithischia Genasauria Cerapoda Or...        lambei
 154  Dinosauria Ornithischia Genasauria Cerapoda Ma...      gracilis
 159  Dinosauria Ornithischia Genasauria Cerapoda Or...        atopus
 165  Dinosauria Ornithischia Genasauria Cerapoda Or...   peeblesorum
 186  Dinosauria Ornithischia Genasauria Cerapoda Ma...      hatcheri
 195  Dinosauria Saurischia Theropoda Neotheropoda T...     mckinleyi
 200  Dinosauria Saurischia Theropoda Neotheropoda T...         velox
 202                            Dinosauria Ornithischia   cubicularis
 206  Dinosauria Ornithischia Genasauria Cerapoda Ma...  wyomingensis
 207  Dinosauria Ornithischia Genasauria Cerapoda Ma...    canadensis
 208  Dinosauria Ornithischia Genasauria Thyreophora...         mirus
 211  Dinosauria Ornithischia Genasauria Cerapoda Or...       walkeri
 212  Dinosauria Ornithischia Genasauria Cerapoda Or...      warrenae
 216  Dinosauria Ornithischia Genasauria Cerapoda Ma...    sternbergi
 227  Dinosauria Ornithischia Genasauria Cerapoda Or...       maximus
 230  Dinosauria Ornithischia Genasauria Cerapoda Or...         byrdi
 266  Dinosauria Ornithischia Genasauria Cerapoda Ma...       validum
 269  Dinosauria Saurischia Theropoda Neotheropoda T...         altus
 271  Dinosauria Ornithischia Genasauria Cerapoda Ma...   albertensis
 282  Dinosauria Ornithischia Genasauria Cerapoda Or...     neglectus
 283  Dinosauria Ornithischia Genasauria Cerapoda Ma...         latus
 285  Dinosauria Ornithischia Genasauria Cerapoda Ma...      horridus
 286  Dinosauria Saurischia Theropoda Neotheropoda T...      formosus
 291  Dinosauria Saurischia Theropoda Neotheropoda T...           rex
 308  Dinosauria Ornithischia Genasauria Cerapoda Ma...  christopheri

          time_period  time_span      continent
 2    Late Cretaceous       13.0  North America
 8    Late Cretaceous        5.0  North America
 9    Late Cretaceous        5.0  North America
 10   Late Cretaceous        2.0  North America
 19   Late Cretaceous        4.0  North America
 21   Late Cretaceous        7.0  North America
 31   Late Cretaceous        5.0  North America
 35   Late Cretaceous        5.0  North America
 39   Late Cretaceous       13.0  North America
 48   Late Cretaceous        1.0  North America
 57   Late Cretaceous        2.0  North America
 62   Late Cretaceous        2.0  North America
 75   Late Cretaceous        2.0  North America
 78   Late Cretaceous        2.0  North America
 86   Late Cretaceous        2.0  North America
 87   Late Cretaceous        4.0  North America
 89   Late Cretaceous       19.0  North America
 91   Late Cretaceous        2.0  North America
 92   Late Cretaceous       11.0  North America
 96   Late Cretaceous        5.0  North America
 103  Late Cretaceous        6.0  North America
 118  Late Cretaceous        7.0  North America
 121  Late Cretaceous       15.0  North America
 124  Late Cretaceous        4.0  North America
 150  Late Cretaceous        4.0  North America
 151  Late Cretaceous        2.0  North America
 154  Late Cretaceous        2.0  North America
 159  Late Cretaceous       13.0  North America
 165  Late Cretaceous        5.0  North America
 186  Late Cretaceous        2.0  North America
 195  Late Cretaceous        5.0  North America
 200  Late Cretaceous        9.0  North America
 202  Late Cretaceous        5.0  North America
 206  Late Cretaceous       11.0  North America
 207  Late Cretaceous        2.0  North America
 208  Late Cretaceous        4.0  North America
 211  Late Cretaceous        2.0  North America
 212  Late Cretaceous        2.0  North America
 216  Late Cretaceous        2.0  North America
 227  Late Cretaceous        2.0  North America
 230  Late Cretaceous        5.0  North America
 266  Late Cretaceous        2.0  North America
 269  Late Cretaceous        2.0  North America
 271  Late Cretaceous        6.0  North America
 282  Late Cretaceous        9.0  North America
 283  Late Cretaceous        5.0  North America
 285  Late Cretaceous        2.0  North America
 286  Late Cretaceous        9.0  North America
 291  Late Cretaceous        2.0  North America
 308  Late Cretaceous        5.0  North America  ,
 'Late Cretaceous, Asia':                         name         diet    lived_in               type  \
 3               achillobator  carnivorous    Mongolia     large theropod
 11             alectrosaurus  carnivorous    Mongolia     large theropod
 12                 alioramus  carnivorous    Mongolia     large theropod
 22               anserimimus  carnivorous    Mongolia     large theropod
 26               aralosaurus  herbivorous  Kazakhstan       euornithopod
 29        archaeornithomimus  carnivorous  Uzbekistan     small theropod
 36                  avimimus   omnivorous    Mongolia     small theropod
 37              bactrosaurus  herbivorous       China       euornithopod
 38              bagaceratops  herbivorous    Mongolia        ceratopsian
 46                 borogovia  carnivorous    Mongolia     small theropod
 68                  citipati   omnivorous    Mongolia     small theropod
 73              conchoraptor  carnivorous    Mongolia     small theropod
 80              deinocheirus   omnivorous    Mongolia     large theropod
 101             erlikosaurus   omnivorous    Mongolia     small theropod
 108               gallimimus   omnivorous    Mongolia     large theropod
 110              garudimimus   omnivorous    Mongolia     large theropod
 115           gilmoreosaurus  herbivorous       China       euornithopod
 119              goyocephale  herbivorous    Mongolia     large theropod
 120          graciliceratops  herbivorous    Mongolia        ceratopsian
 131                heyuannia   omnivorous    Mongolia     small theropod
 132            homalocephale  herbivorous    Mongolia       euornithopod
 138               indosuchus  carnivorous       India     large theropod
 140                isisaurus  herbivorous       India           sauropod
 142            jaxartosaurus  herbivorous  Kazakhstan       euornithopod
 148                    khaan   omnivorous    Mongolia     small theropod
 177             microceratus  herbivorous    Mongolia        ceratopsian
 178  micropachycephalosaurus  herbivorous       China        ceratopsian
 182                mononykus      unknown    Mongolia     small theropod
 185         nanshiungosaurus   omnivorous       China     large theropod
 187            nemegtosaurus  herbivorous    Mongolia           sauropod